# Django stuff
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Python virtual environment
venv/
env/

# IDE/Editor specific files
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.swp
*~
.DS_Store

django-env/